html
{
    background-color: powderblue;
    margin:auto
}

#navbar
{
    list-style: none;
    display: flex;
    margin: 0;
}


.sticky
{
    position: fixed;
    top: 4;
    right: 0;
    width: 320px;
    background-color: rgb(150, 185, 215, 0.5);
    border: 2px solid rgb(0, 0, 0);
}


.mini
{
    background-color: aliceblue;
    display: block;
    margin-left: auto;   
    margin-right: auto;
    max-width: max-content; 
    max-height: max-content;
}
h1
{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
.canvas_1
{
    display: flex;
}


.main
{
    background-color: rgb(201, 194, 194);
    border: 3px solid rgb(0, 0, 0);
    display: block;
    margin-left: auto;   
    margin-right: auto; 
    margin-top: auto;
    
}

ul
{
    background-color: rgb(53, 185, 202);
    max-width: fit-content;
    max-height: 700px;
    padding: 0%;
    margin: 0%;
    border: 2px solid black;
}


li
{
    font-size: 20px;
    padding: 20px;
    list-style: none;
    font-size: 1.0em;
    
}

table
{
    border: 2px solid black;
    margin: auto;
    height: 200px;
    background-color: rgba(178, 225, 235, 0.76);
    
}

th
{
    
    padding: 10px;
    border: 1px solid black;

}
tr
{
    border: 1px solid black;
}

td
{
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    
}

footer 
{
    padding: 10px;
    text-align: center;
}
  
footer p 
{
    font-size: 14px;
    color: #666;
}