.main
{
    background-color: rgb(201, 194, 194);
    border: 3px solid rgb(0, 0, 0);
    display: block;
    margin-left: auto;   
    margin-right: auto; 
    margin-top: auto;
}
.sticky
{
    /* display: none; */
    position: fixed;
    top: 15px;
    right: 5px;
    width: max-content;
    background-color: rgb(150, 185, 215, 0.5);
    border: 2px solid rgb(0, 0, 0);
}
#navbar
{
    list-style: none;
    display: none; 
    margin: 0;
    padding: 10px;
}

#canvas-wrapper {
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    height:99vh;

}
.tick
{
   padding-top: 10px;
}

#open
{
    /* background-color: rgb(128, 125, 125, 0.4); */
    background-color: transparent;
    border: none;
    padding: 0;
}

.mini
{
    background-color: aliceblue;
    display: block;
    margin-left: auto;   
    margin-right: auto;
    max-width: max-content; 
    max-height: max-content;
}
h1
{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
.canvas_1
{
    display: flex;
}


.main
{
    background-color: rgb(201, 194, 194);
    border: 3px solid rgb(0, 0, 0);
    display: block;
    margin-left: auto;   
    margin-right: auto; 
    margin-top: auto;
    
}

ul
{
    max-width: 350px;
    max-height: 700px;
    padding: 0%;
    margin: 0%;
    border: 2px solid black;
}


.list  
{
    font-size: 20px;
    padding: 20px;
    list-style: none;
    font-size: 1.0em;
    
}

table
{
    border: 2px solid black;
    margin: auto;
    height: 200px;
    
}

th
{
    
    padding: 10px;
    border: 1px solid black;

}
tr
{
    border: 1px solid black;
}

td
{
    
    text-align: center;
    border: 2px solid black;
    
}
